<%- include('./partials/header') %>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="jumbotron">
        <h3>
          <%= _t('Thank you !') %>
        </h3>
        <p class="lead">
          <%= _t('Your order has been processed. You will receive an email to download your products shortly.') %>
          <br>
          <%= _t('Please also verify your spam folder in case you have not received it.') %>
          <br>
          <em> 
              <% if (config.contactEmail) { %>
                <%= _t('If you have any problem or question, please contact us :') %>
              <% } %>
              <%= config.contactEmail %>
          </em>
        </p>
      </div>
    </div>
  </div>
</div>
<%- include('./partials/footer') %>